.ant-layout-sider {
  background-color: #fff;
  .logo {
    height: 31px;
    margin: 16px 24px 16px;
    @include flex;
    background-color: #1890ff;
    color: #fff;
  }
}
.menu-item {
  margin-left: 10px;
}
