@mixin flex($jc: center, $ai: center, $fd: initial) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}
.w150 {
  width: 150px !important;
}

.w200 {
  width: 200px !important;
}
